<div>
    @if(heading()){
    <h2 class="font-125rem pt-2rem pb-50rem">{{ heading() }}</h2>
    }
    <div class="flex gap-1rem relative">
        @if(leftIcon()){
        <div
            [ngClass]="['cursor-pointer p-50rem flex items-center hide-mobile height-full absolute -left-3rem', iconContainerClass()]">
            <app-icons name="matArrowBackIos" />
        </div>
        }
        <div infiniteSlider itemWidth="10rem" class="animation-container" containerClass="slider-container"
            itemClass="slider-item" [shouldAnimate]="shouldAnimate()" [slideLength]="slideLength()">
            <div class="flex gap-1rem items-center overflow-horizontal slider-container">
                <ng-content />
            </div>
        </div>
        <div [ngClass]="['cursor-pointer hide-mobile p-50rem flex items-center', iconContainerClass()]">
            <app-icons name="matArrowForwardIos" />
        </div>
    </div>
</div>