img,
h1 {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  li {
    list-style: none;
    cursor: pointer;
    color: #83868f;

    &:hover {
      color: #bd0002;
      text-decoration: underline;
    }
  }
}

.user-profile {
  background: #262626;
  border-radius: 1.375rem;
  padding: 0.4rem 1rem;
  padding-right: 0.7rem;
  height: 3.125rem;
  cursor: pointer;

  img {
    border-radius: 0.8rem;
  }

  p {
    padding-bottom: 0.1rem;
  }
}

.subscribe {
  background: linear-gradient(268.83deg, #995ebd 0%, #bd5e5f 50%, #995ebd 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-in-out;
  border-radius: 1.375rem;
  padding: 0 1.25rem 0.1rem;
  height: 3.125rem;

  &:hover {
    background-position: 0 0;
  }
}
