<nav class="container flex gap-3rem items-center height-4rem">
    <img src="/logo.png" alt="zebra comics logo" class="height-4rem">
    <div class="flex gap-2rem items-center justify-between width-full">
        <div class="flex gap-2rem items-center">
            <h1 class="font-1rem text-primary">Zebra Comics</h1>
            <ul class="flex gap-2rem items-center">
                <li routerLink="/discover">Discover</li>
                <li routerLink="/library">Library</li>
            </ul>
        </div>
        <div class="flex gap-1rem items-center">
            <div class="flex items-center gap-1rem user-profile">
                <p>James Bond</p>
                <!-- <img src="https://avatar.iran.liara.run/public/" alt="James Bond" width="40px" class="rounded-1"> -->
                <img src="https://xsgames.co/randomusers/avatar.php?g=male" alt="James Bond" width="35px">
            </div>
            <button class="subscribe">
                upgrade to premium
            </button>
        </div>
    </div>
</nav>