.hero {
  height: 28rem;
  background-image: url("/hero_bg.png");

  .hero-content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, #000000 100%);
    opacity: 0.9;
    height: 28rem;

    button {
      width: 60%;
      height: 3rem;
      text-transform: uppercase;
      min-width: 13rem;
    }
  }
}
