<div class="hero bg-cover">
    <div class="hero-content">
        <div class="container flex flex-col justify-end height-full gap-1rem">
            <div class="width-23rem">
                <img src="/gateman.png" alt="gateman image" class="width-18rem">
                <p class="mt-1rem">This is the comic synopsis which is clickable to open more details about it. Let’s
                    add some new text
                    here.</p>
                <button class="rounded-1rem bg-white text-black mt-1rem">Read Now</button>
            </div>
            <div class="flex justify-end mb-1rem items-center">
                <div class="p-50rem cursor-pointer flex items-center justify-center">
                    <ng-icon name="matArrowBackIos" class="disabled" />
                </div>
                <p>1/2</p>
                <div class="p-50rem cursor-pointer flex items-center justify-center">
                    <ng-icon name="matArrowForwardIos" />
                </div>
            </div>
        </div>
    </div>
</div>