@switch (bookItemType()) {
@case ('LAST_READ') {
<div class="cursor-pointer">
    <div class="width-10rem height-7rem rounded-75rem bg-grey bg-cover"
        [style.background-image]="bookItem().cover? 'url(' + bookItem().cover + ')': ''">
        <div class="flex flex-col justify-end width-full height-full pb-25rem">
            <div class="bg-progress rounded-1rem">
                <div class="bg-white rounded-1rem" [style.width.%]="bookItem().progressRead" style="height: 0.4rem;">
                </div>
            </div>
        </div>
    </div>
    <div class="mt-50rem">
        <h3 class="font-1rem text-grey text-ellipsis width-10rem" [title]="bookItem().title">{{ bookItem().title }}</h3>
        <p class="font-1rem text-grey text-ellipsis width-10rem" [title]="bookItem().currentEpisode">{{
            bookItem().currentEpisode }}</p>
    </div>
</div>
}
@case ('START_HERE') {
<div class="cursor-pointer">
    <div [ngClass]="['width-12rem height-18rem rounded-75rem bg-grey bg-cover book-item', bookContainerClass()]"
        [style.background-image]="bookItem().cover? 'url(' + bookItem().cover + ')': ''">
        <div class="flex flex-col justify-end width-full height-full rounded-50rem">
            <div class="flex items-center gap-50rem bg-shadow px-50rem py-25rem">
                @if(bookItem().isNewEpisode) {
                <p class="bg-primary rounded-50rem px-50rem font-75rem width-fit py-05rem">
                    New Episode
                </p>
                }
                @if(bookItem().nLikes) {
                <div class="flex items-center gap-25rem justify-center likes">
                    <ng-icon name="ionHeart" />
                    <p>{{bookItem().nLikes}}</p>
                </div>
                }
            </div>
        </div>
        <div class="book-info rounded-50rem pt-50rem">
            @if (bookItem().tags) {
            <div class="flex items-center flex-wrap gap-50rem">
                @for (tag of bookItem().tags; track tag) {
                <p class="font-75rem text-white text-ellipsis bg-dark-grey px-50rem rounded-50rem max-width-10rem"
                    [title]="tag">{{ tag }}</p>
                }
            </div>
            }
            <p class="max-width-10rem font-75rem mt-75rem text-grey description">{{bookItem().description}}</p>
        </div>
    </div>
    <div class="mt-50rem">
        <h3 class="font-1rem text-grey max-width-12rem" [title]="bookItem().title">{{ bookItem().title }}
        </h3>
    </div>
</div>
}
}