<div>
    <div class="grid-container gap-25rem pt-3rem width-full">
        <div class="flex flex-col items-center justify-center">
            <div>
                <div class="flex items-center width-full justify-between">
                    <h1 class="font-2rem pb-25rem bold">Zebra Kids</h1>

                    <button
                        class="show-mobile flex items-center justify-center gap-75rem bg-white rounded-1rem text-black font-75rem px-125rem py-50rem">Explore
                        All
                        <app-icons name="matArrowForwardIos" color="black" />
                    </button>
                </div>
                <p class="mobile-margin font-1rem pb-1rem line-height text-grey">Something Original Another statement
                    here And a
                    concluding statement here</p>
                <button
                    class="hide-mobile flex items-center justify-center gap-75rem bg-white rounded-1rem text-black font-75rem px-125rem py-50rem">Explore
                    All
                    <app-icons name="matArrowForwardIos" color="black" />
                </button>
            </div>
        </div>
        <app-section-container iconContainerClass="height-21rem" [leftIcon]="true" [shouldAnimate]="true"
            slideLength="15rem">
            @for (book of zebraKids; track $index) {
            <app-book-item [bookItem]="book" class="slider-item" bookItemType="START_HERE"
                bookContainerClass="width-14rem height-21rem" />
            }
        </app-section-container>
    </div>
</div>