<div class="container">
    <div class="grid-container gap-25rem pt-3rem">
        <div class="flex flex-col items-center justify-center">
            <div>
                <h1 class="font-2rem pb-25rem bold">Zebra Kids</h1>
                <p class="font-1rem pb-1rem line-height text-grey">Something Original Another statement here And a
                    concluding statement here</p>
                <button
                    class="flex items-center justify-center gap-75rem bg-white rounded-1rem text-black font-75rem px-125rem py-50rem">Explore
                    All
                    <ng-icon name="matArrowForwardIos" color="black" />
                </button>
            </div>
        </div>
        <app-section-container iconContainerClass="height-21rem" [leftIcon]="true">
            @for (book of zebraKids; track $index) {
            <app-book-item [bookItem]="book" bookItemType="START_HERE" bookContainerClass="width-14rem height-21rem" />
            }
        </app-section-container>
    </div>
</div>