/* You can add global styles to this file, and also import other style files */
@import "./scss/dynamic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  height: 100%;
  background-color: #000000;
  color: #fff;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  border: unset;
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 65.625rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.rounded-full {
  border-radius: 50%;
}

.text-primary {
  color: #bd0002;
}

.bg-primary {
  background: #bd0002;
}

.bg-white {
  background: #ffffff;
}

.bg-progress {
  background: #ffffff59;
}

.bg-grey {
  background: #808080;
}

.bg-dark-grey {
  background: #28292e;
}

.text-grey {
  color: #83868f;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.text-black {
  color: #000000;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  & > * {
    display: inline-block;
  }
}

.width-fit {
  width: fit-content;
}

// .ellipsis-text {
//     display: -webkit-box;
//     line-clamp: 3;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;

//     /* Fallback for non-WebKit browsers */
//     display: block;
//     max-height: 4.5em; /* Adjust based on your font size and line height */
//     line-height: 1.5em;
//   }

.line-height {
  line-height: 1.4rem;
}

.disabled {
  fill: #535d5d;
  color: #535d5d;
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-light-dark {
  background: #121212;
}

.font-advent {
  font-family: "Advent Pro", sans-serif;
}
