/* You can add global styles to this file, and also import other style files */
@import "./scss/dynamic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  height: 100%;
  background-color: #000000;

  * {
    color: #fff;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  border: unset;
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 65.625rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.rounded-full {
  border-radius: 50%;
}

.text-primary {
  color: #bd0002;
}

.bg-primary {
  background: #bd0002;
}

.bg-white {
  background: #ffffff;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.text-black {
  color: #000000;
}
