@for $i from 1 through 30 {
  // border-radius;
  .rounded-#{$i}rem {
    border-radius: #{$i}rem;
  }

  // flex gap
  .gap-#{$i}rem {
    gap: #{$i}rem;
  }

  // height
  .height-#{$i}rem {
    height: #{$i}rem;
  }

  // width
  .width-#{$i}rem {
    width: #{$i}rem;
  }
}

// font-size
@function format-classname($number) {
  @return if(
    $number == round($number),
    #{$number},
    #{str-slice(#{$number * 100}, 1, 3)}
  );
}

$increment: 0.25; // Increment size in rem

@for $i from 1 through 16 {
  $size: $i * $increment;
  $classname: format-classname($size);

  .font-#{$classname}rem {
    font-size: #{$size}rem;
  }

  // margin
  .mt-#{$classname}rem {
    margin-top: #{$size}rem;
  }

  .mb-#{$classname}rem {
    margin-bottom: #{$size}rem;
  }

  // padding
  .pt-#{$classname}rem {
    padding-top: #{$size}rem;
  }

  .pb-#{$classname}rem {
    padding-bottom: #{$size}rem;
  }

  .p-#{$classname}rem {
    padding: #{$size}rem;
  }
}
